.choose-main-heading {
  text-align: center;
}
.choose-container {
  display: flex;
  justify-content: center;
}
.section {
  width: 100%;
}

@media screen and (max-width: 768px) {
  .section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .choose-container {
    flex-direction: column;
    margin-left: 20px;
  }
}

.hr {
  border: 2px solid #32127a;
  width: 80px;
}
